{{!-- <h1>{{ title }}</h1>

<p>{{ parametr }}</p>

<p>{{ tablica }}</p>

<p>{{ zmienna }}</p>

<ul>
{{# each tablica }}
    <li>{{ this }}</li>
{{/each}}
</ul> --}}

<div class="container" style="background-color: whitesmoke;">

    <p>{{ title }}</p>


    <div class="row">

    {{# each items}}

        <div class="col-sm">

            <img src="{{this.sciezka}}/{{this.nazwa}}.jpg" alt="..." width="200">

            <figcaption class="figure-caption text-left">
            nazwa: {{this.nazwa}} rozmiar: {{this.rozmiar}}kb
            </figcaption>

            <a href="pictures/{{this.id}}"><button class="btn btn-primary">pokaz</button></a>

            <a href="pictures/update/{{this.id}}"><button class="btn btn-dark">update</button></a>

            <form action="pictures/delete" method="post" style="display: inline;">
                <button class="btn btn-danger" type="submit" name="id" id="{{this.id}}" value="{{this.id}}" class="btn-link">Delete</button>
            </form>

        </div>

    {{/each}}

    </div>

</div>


<div>
    <br>
    <br>
    <div style="text-align: center;">
        <form action="pictures/create" method="get">
            <button class="btn byn-primary" type="submit" class="btn-link">Dodaj zdjęcie</button>
        </form>
    </div>
</div>

